@page "/Control/Customers/Index"
@model WebAppEBOS.Pages.Control.Сustomers.IndexModel

@{
    ViewBag.Title = "Manage Customers";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.AllCustomers)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Surname</h6>
                        <p class="card-text">@item.TelephoneHomeNumber</p>
                        <p class="card-text">@item.TelephonePhoneNumber</p>
                        <p class="card-text">@item.TelephoneWorkNumber</p>
                        <p class="card-text">@item.Country</p>
                        <p class="card-text">@item.Address</p>
                        <p class="card-text">@item.PostCode</p>
                        <p class="card-text">@item.DateBirth</p>
                        <p class="card-text">@item.Path</p>
                        <p class="card-text">@item.RefAppId</p>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
