@page "/Control/Customers/Index"
@model WebAppEBOS.Pages.Control.Сustomers.IndexModel

@{
    ViewBag.Title = "Manage Customers";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
        </div>
    </div>

    @* <div class="col-md-2"> *@
    @* <div class="form-floating mb-3"> *@
    @*     <label class="form-label" for="filterInput">Filter</label> *@
    @*     <input class="form-control valid" type="text" id="filterInput" name="filterInput" aria-invalid="false" data-val="true"/> *@
    @* </div> *@
    @* <div class="form-floating mb-3"> *@
    @*     <button id="applyFilterButton" class="w-100 btn btn-lg btn-primary">Apply</button> *@
    @* </div> *@
    @*     <div class="form-floating mb-3"> *@
    @*         <button id="resetFilterButton" class="w-100 btn btn-lg btn-primary">Reset</button> *@
    @*     </div> *@
    @*     </div> *@
    <div class="row">
        @foreach (var item in Model.AllCustomers)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Surname</h6>
                        <p class="card-text">@item.TelephoneHomeNumber</p>
                        <p class="card-text">@item.TelephonePhoneNumber</p>
                        <p class="card-text">@item.TelephoneWorkNumber</p>
                        <p class="card-text">@item.Country</p>
                        <p class="card-text">@item.Address</p>
                        <p class="card-text">@item.PostCode</p>
                        <p class="card-text">@item.DateBirth</p>
                        <p class="card-text">@item.Path</p>
                        <p class="card-text">@item.RefAppId</p>
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>
